
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// ***** MY STUFF BELOW *****

// Colours
$navbar-bg: #4C6B83;
$blue-text: #9ACDFA;
$light-blue-text: #C7F6FE;
$gray-text: #898989;
$blue-button: #73CFFF;
$blue-button-text: #3F8BC5;
$dark-blue-button: #417DC5;
$dark-blue-button-text: #DCEFFF;
