
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// ***** MY STUFF BELOW *****

// Navbar
.navbar {
	background-color: $navbar-bg;
	.container {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
		> a {
			color: $blue-text;
			font-size: 26pt;
		}
		.nav-link {
			color: $light-blue-text;
			font-size: 18pt;
		}
	}
}


// Home page
.welcome-body1 {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-image: url('/images/banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	.text-body {
		margin-left: 20px;
		width: 30%;
		> h5, > p {
			color: $light-blue-text;
		}
	}
}

.welcome-body2 {
	width: 100%;
	height: 300px;
	margin: auto;
	.text-body1 {
		width: 33%;
		height: 300px;
		float: left;
	}
	.text-body2 {
		width: 33%;
		height: 300px;
		float: left;
	}
	.text-body3 {
		width: 33%;
		height: 300px;
		float: left;
	}
	div {
		padding: 32px;
		h5, p {
			color: $gray-text;
		}
	}
}


// Login page
.login-container {
	background-color: $light-blue-text;
	position: absolute;
	height: calc(100vh - 95px); // Navbar is 95px tall
	width: 100vw;
	.login-body {
		width: 100%;
		height: 50vh;
		margin-top: calc(25vh - 48px); // 48px = half of navbar height (95px / 2)
		background-image: url('/images/banner.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		transform: rotateY(180deg); // Horizontally flip image
		.login-form {
			transform: rotateY(180deg); // Horizontally flip again to bring it back to normal
			width: 30%;
			float: left; // Need to do reversed since parent is rotated

			form {
				margin-top: 30%;
				margin-right: 30%;
				input {
					border-radius: 0;
					border: none;
					margin-bottom: 20px;
					background-color: $light-blue-text;
					color: $gray-text;
				}
				#login {
					float: right;
					padding-top: 5px;
					padding-bottom: 5px;
					padding-left: 20px;
					padding-right: 20px;
					border: none;
					background-color: $blue-button;
					color: $blue-button-text;
				}
			}
		}
	}
}


// Home page
.home-banner {
	height: 90px;
	width: 100%;
	background-image: url('/images/banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	transform: rotateY(180deg); // Horizontally flip image
	h3 {
		float: left;
		padding: 25px;
		color: $light-blue-text;
		transform: rotateY(180deg); // Horizontally flip again to bring it back to normal
	}
}




